﻿@model TransactionViewModel

@{
    ViewData["Title"] = "Edit Payment";
}

<section class="uza-about-us-area pad-up">
    <div class="row">
        <div class="col">
            <div class="container col-12 col-md-6">
                <form asp-area="User" asp-controller="Transactions" asp-action="Edit" method="post" class="border-c">
                    <div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="TransactionId" />
                        <input type="hidden" asp-for="TimeStamp" />
                        <input type="hidden" asp-for="Status" />
                        <input type="hidden" asp-for="Movement" />
                        <div class="text-center">
                            @await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])
                        </div>
                        <div><h3>Payment Form</h3></div>
                        <hr class="c-line" />
                        <div class="form-group">
                            <label asp-for="@Model.SenderAccount"></label>
                            <select id="selected-account" class="selectpicker form-control" name="SenderAccountId">
                                @foreach (var item in @Model.SenderAccounts)
                                {
                                    <option clientName="@item.ClientName" value="@item.AccountId">@item.AccountNumber</option>
                                    if (Model.SenderAccountId == item.AccountId)
                                    {
                                        <option clientName="@item.ClientName" value="@item.AccountId" selected hidden>@item.AccountNumber</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="@Model.SenderAccount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.SenderClient">Sender's client name: </label>
                            <input asp-for="@Model.SenderClient" id="selected-client" class="form-control" readonly />
                            <span asp-validation-for="@Model.SenderClient" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.ReceiverAccount">Receiver's account number: </label>
                            <input asp-for="@Model.ReceiverAccount" id="autocomplete-payee-account" placeholder="1112223333" class="form-control">
                            <span asp-validation-for="@Model.ReceiverAccount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.ReceiverClient">Receiver'a client name: </label>
                            <input asp-for="@Model.ReceiverClient" id="selected-receiving-client" placeholder="Name..." class="form-control" readonly>
                            <span asp-validation-for="@Model.ReceiverClient" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Description">Description: </label>
                            <input asp-for="@Model.Description" placeholder="Up to 35 characters, please." class="form-control">
                            <span asp-validation-for="@Model.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Amount">Amount: </label>
                            <input asp-for="@Model.Amount" placeholder="Within your balance." class="form-control">
                            <span asp-validation-for="@Model.Amount" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="submit" asp-area="User" asp-controller="Transactions" asp-action="Send" asp-route-id="@Model.TransactionId" class="btn btn-primary">Send</button>
                    <br />
                </form>
            </div>
        </div>
    </div>

    <!-- Background Pattern -->
    <div class="about-bg-pattern">
        <img src="~/img/core-img/curve-2.png" alt="">
    </div>
</section>

<div class="border-line"></div>

@section Scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.22/jquery-ui.js"></script>
    <link rel="Stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/flick/jquery-ui.css" />
    <script>
        $('#selected-account').on('change', function () {
            var itemSelected = $('#selected-account').find(":selected");
            var clientName = itemSelected.attr('clientName');

            $('#selected-client').val(clientName);
        });
    </script>

    <script>
        var globalItem;

        let timeOut;
        $(function () {
            $('#autocomplete-payee-account').autocomplete({
                source: function (input, output) {
                    clearTimeout(timeOut);
                    timeOut = setTimeout(function () {
                        $.ajax({
                            url: '@Url.Action("Complete", "Transactions")',
                            type: "POST",
                            datatype: "json",
                            data: { accountNumber: input.term},
                            success: function (data)
                            {
                                if (data)
                                {
                                    if (data.length == 0) {
                                        output([{value: "", data: "", label: "Such account number is not available."}]);
                                    }
                                    else {
                                        let items = $.map(data, function (item) {
                                            return { value: item.AccountNumber, data: item.ClientName };
                                        });
                                        output(items);
                                    }
                                }
                            }
                        });
                    }, 400);
                },
                select: function (e, ui) {
                    $('#selected-receiving-client').val(ui.item.data);
                }
            });
        });

        $('#autocomplete-payee-account').on('change', function () {
            $('#selected-receiving-client').val("");
        });
    </script>
}
