﻿@model TransactionHomeViewModel

@{
    ViewData["Title"] = "Transactions Page";
}

<!-- ***** Transactions Area Start ***** -->
<section class="uza-about-us-area pad-up">
    <div class="container border-c">
        @await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])
        <h2 class="text-center">TRANSACTIONS LIST:</h2>
        <hr class="c-line" />
        <br />
        <div class="row">
            <div class="col-6 col-sm-3 text-left" style="padding:0px"><h5>Filter by:</h5></div>
            <div class="border border-box col-12 text-right">
                <div id="filter-accounts" class="text-left col-sm-6">Payer Account Number:</div>
                <select id="selected-sender-account" class="selectpicker form-control" name="SenderAccountId">
                    <option value="" selected></option>
                    @foreach (var item in Model.SenderAccounts)
                    {
                        <option data-id="@item.AccountId" value="@item.AccountNumber">@item.AccountNumber</option>
                    }
                </select>
                <div class="text-left col-sm-6">Payee Account Number:</div>
                <select id="selected-receiver-account" class="selectpicker form-control" name="SenderAccountId">
                    <option value="" selected></option>
                    @foreach (var item in Model.ReceiverAccounts)
                    {
                        <option data-id="@item.AccountId" value="@item.AccountNumber">@item.AccountNumber</option>
                    }
                </select>
                <div class="text-left col-sm-6">Personal Accounts:</div>
                <select id="selected-user-account" class="selectpicker form-control" name="SenderAccountId">
                    <option value="" selected></option>
                    @foreach (var item in Model.LoggedUserAccounts)
                    {
                        <option data-id="@item.AccountId" value="@item.AccountNumber">@item.AccountNumber</option>
                        if (item.AccountId == Model.AccountId)
                        {
                            <option data-id="@item.AccountId" value="@item.AccountNumber" selected hidden>@item.AccountNumber</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div id="tabs" class="row align-items-center">
            <ul>
                <li><a href="#tab-1">Sent Transactions</a></li>
                <li><a href="#tab-2">Saved Transactions</a></li>
            </ul>
            <div id="tab-1" class="container-fluid">
                <hr class="c-line" style="color:cornflowerblue" />
                <div class="row justify-content-center table-responsive-sm">
                    <table id="sent-transactions-table" class="table table-hover table-striped border border-dark text-center">
                        <thead class="thead-dark custom-table-head">
                            <tr>
                                <th>Payer Account</th>
                                <th>Payer's Client</th>
                                <th>Payee Account</th>
                                <th>Payee's Client</th>
                                <th>Description</th>
                                <th>Incoming/ Outgoing</th>
                                <th>Amount</th>
                                <th>Time Stamp</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div id="tab-2" class="container-fluid">
                <hr class="c-line" style="color:cornflowerblue" />
                <div class="row justify-content-center table-responsive-sm">
                    <table id="saved-transactions-table" class="table table-hover table-striped border border-dark text-center">
                        <thead class="thead-dark custom-table-head">
                            <tr>
                                <th>Payer Account</th>
                                <th>Payer's Client</th>
                                <th>Payee Account</th>
                                <th>Payee's Client</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Time Stamp</th>
                                <th>Status</th>
                                <th>Edit</th>
                                <th>Send</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Background Pattern -->
    <div class="about-bg-pattern">
        <img src="~/img/core-img/curve-2.png" alt="">
    </div>
    <br />
    <a asp-controller="Transactions" asp-action="MakePayment" class="btn btn-primary custom-margin">New Transaction</a>
</section>
<!-- ***** Transactions Area End ***** -->

<div class="border-line"></div>

@section Scripts
    {
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://unpkg.com/sweetalert2@7.19.0/dist/sweetalert2.all.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        var firstAccountFilters = null;
        var secondAccountFilters = null;

        var firstSavedAccountFilter = null;
        var secondSavedAccountFilter = null;

        var sentUserAccount = null;
        var savedUserAccount = null;

            $(document).ready(function () {
                var id = $('#selected-user-account').find(':selected').data("id");
                var number = $('#selected-user-account').find(':selected').val();
                sentUserAccount = { AccountId: id, AccountNumber: number };
                savedUserAccount = { AccountId: id, AccountNumber: number };
            });

        function formatDate(dateString) {
            function getMonthString(monthIndex) {
                var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                return months[monthIndex];
            }

            function padWithZero(number) {
                return number > 9 ? number : '0' + number;
            }

            var date = new Date(dateString);
            var dateMonthPart = `${padWithZero(date.getDate())}&nbsp;${getMonthString(date.getMonth())}&nbsp;${ date.getFullYear()}, `;
            var hourMinutePart = `${padWithZero(date.getHours())}:${padWithZero(date.getMinutes())}`;

            return dateMonthPart + hourMinutePart;
        }

        var info = $('#propertyTable').DataTable().page.info();
        var savedTransactionsTable;

        $(document).ready(function () {
            savedTransactionsTable = $('#saved-transactions-table').DataTable({
                "responsive": true,
                "stateSave": true,
                "proccessing": true,
                "serverSide": true,
                "filter": true,
                "ordering": false,
                "ajax": {
                    url: '@Url.Action("GetSavedTransactions", "Transactions")',
                    data: function (cData) {
                        Object.assign(cData,
                            { senderAccount: firstSavedAccountFilter, receiverAccount: secondSavedAccountFilter, loggedUserAccount:  savedUserAccount});
                        return cData;
                    },
                    type: "POST",
                    datatype: "JSON",
                },
                "paging": true,
                "pageLength": 5,
                "lengthChange": false,
                "searching": false,
                "columns": [
                    { "data": "SenderAccount", "autoWidth": true },
                    { "data": "SenderClient", "autoWidth": true },
                    { "data": "ReceiverAccount", "autoWidth": true },
                    { "data": "ReceiverClient", "autoWidth": true },
                    { "data": "Description", "autoWidth": true },
                    { "data": "Amount", "autoWidth": true  },
                    {
                        "render": function (data, type, transaction, meta) {

                            return formatDate(transaction.TimeStamp);
                        },
                        "autoWidth": true
                    },
                    { "data": "Status", "autoWidth": true  },
                    {
                        "render": function (data, type, transaction, meta)
                        {
                            return '<a href="@Url.Action("Edit", "Transactions")/' + transaction.TransactionId + '" class="btn btn-primary color-white">Edit</a>';
                        }
                    },
                    {
                        data: null, render: function (data, type, row) {
                            return '<button id="' + row.TransactionId +'" class="btn btn-primary pop-up-send">Send</button>';
                        }
                    },
                ]
            });
        });


        var sentTable;

         $(document).ready(function () {
             sentTable = $('#sent-transactions-table').DataTable({
                 "responsive": true,
                "stateSave": true,
                "proccessing": true,
                "serverSide": true,
                "filter": true,
                "ordering": false,
                "ajax": {
                    url: '@Url.Action("GetSentTransactions", "Transactions")',
                    data: function (currentData) {
                        Object.assign(currentData,
                            { senderAccountFilter: firstAccountFilters, receiverAccountFilter: secondAccountFilters, loggedUserAccount: sentUserAccount },);
                        return currentData;
                    },
                    type: "POST",
                    datatype: "JSON",
                },
                "paging": true,
                "pageLength": 5,
                "lengthChange": false,
                "searching": false,
                "columns": [
                    { "data": "SenderAccount", "autoWidth": true },
                    { "data": "SenderClient", "autoWidth": true },
                    { "data": "ReceiverAccount", "autoWidth": true },
                    { "data": "ReceiverClient", "autoWidth": true },
                    { "data": "Description", "autoWidth": true },
                    { "data": "Movement", "autoWidth": true },
                    { "data": "Amount", "autoWidth": true  },
                    {
                        "render": function (data, type, transaction, meta) {

                            return formatDate(transaction.TimeStamp);
                        },
                        "autoWidth": true
                    },
                    { "data": "Status", "autoWidth": true  },
                ]
            });
        });

        $('#selected-sender-account').on('change', function () {
            var id = $(this).find(':selected').data("id");
            var number = $(this).find(':selected').val();
            firstAccountFilters = { AccountId: id, AccountNumber: number };
            firstSavedAccountFilter = { AccountId: id, AccountNumber: number };
            sentTable.ajax.reload();
            savedTransactionsTable.ajax.reload();
        });
        $('#selected-receiver-account').on('change', function () {
            var id = $(this).find(':selected').data("id");
            var number = $(this).find(':selected').val();
            secondAccountFilters = { AccountId: id, AccountNumber: number };
            secondSavedAccountFilter = { AccountId: id, AccountNumber: number };
            sentTable.ajax.reload();
            savedTransactionsTable.ajax.reload();
        });
        $('#selected-user-account').on('change', function () {
            var id = $(this).find(':selected').data("id");
            var number = $(this).find(':selected').val();
            sentUserAccount = { AccountId: id, AccountNumber: number };
            savedUserAccount = { AccountId: id, AccountNumber: number };
            sentTable.ajax.reload();
            savedTransactionsTable.ajax.reload();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#saved-transactions-table').on('click', '.pop-up-send', function (e) {
                var evnt = $(this);
                event.preventDefault();
                var id = parseInt(evnt.attr('id'), 10);
                $.ajax(swal({
                    title: 'Are you sure you would like to send this transaction?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, send it!',
                    cancelButtonText: 'No, cancel!',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: true,
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            url: "/User/Transactions/SendSaved/" + id,
                            type: "POST",
                            success: () => {
                                swal(
                                    'Sent!',
                                    'The transaction has been sent.',
                                    'success'
                                ).then(function (isConfirm) {
                                    if (isConfirm) {
                                        location.reload();
                                    }
                                });
                            }
                        })
                    }
                    else if (result.dismiss === swal.DismissReason.cancel) {
                        swal(
                            'Cancelled',
                            'The transaction was not sent!',
                            'error'
                        )
                    }
                }));
            });
        });
    </script>
    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>
}

