﻿@model CreateBannerViewModel

@{
    ViewData["Title"] = "Add Banner";
}


<section class="pad-up">
    <div class="container border-c">
        <div>
            <h2 class="text-center">Add Banner</h2>
            <hr class="c-line" />
        </div>


        <div>
            <div>
                <form asp-area="Admin" asp-controller="Banner" asp-action="Add" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="BannerId" />
                    <input type="hidden" asp-for="ImageName" />
                    <div class="text-center">
                        @await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])
                    </div>

                    <table>
                        <tbody>
                            <tr>
                                <td class="col-12 col-sm-6" scope="col">
                                    <div class="form-group text-center">
                                        <div>
                                            <label>
                                                <input type="file" asp-for="Image" accept="image/*" class="hidden top-left behind" />
                                                <img src="~/img/banners/@(Model.ImageName ?? "card.png")" class="picture-img-preview img-thumbnail img-fluid medium-size">
                                            </label>
                                        </div>
                                        <div>(Click on the photo to change it)</div>
                                    </div>
                                </td>
                                <td width="10%"></td>
                                <td class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label asp-for="URL" class="control-label"></label>
                                            <input asp-for="URL" class="form-control" />
                                            <span asp-validation-for="URL" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="StartValidity" class="control-label"></label>
                                            <input type="date" asp-for="StartValidity" id="start" class="form-control">
                                            <span asp-validation-for="StartValidity" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="EndValidity" class="control-label"></label>
                                            <input type="date" asp-for="EndValidity" id="end" class="form-control" />
                                            <span asp-validation-for="EndValidity" class="text-danger"></span>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="form-group text-right">
                                            <input type="submit" value="Save Changes" class="btn bg-gradient-info custom-margin" />
                                            <a class="btn bg-gradient-info custom-margin" asp-action="Index">Back</a>
                                        </div>
                                    </div>
                                    <br />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/js/upload.js"></script>
    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;
        document.getElementById("start").value = today;
    </script>
    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;
        document.getElementById("end").value = today;
    </script>
}