﻿@model EditBannerViewModel

@{
    ViewData["Title"] = "Delete Banner";
}

<div class="text-center pad-up">
    <h2>Delete</h2>
    <h3>Are you sure you want to delete this?</h3>
    <hr class="c-line" />
</div>
<div class="text-center row">
    @await Html.PartialAsync("_BannerDetailsPartial", Model)

    <div class="text-center">
        <form method="post" asp-controller="Banner" asp-action="Delete" asp-route-id="@Model.BannerId">
            <div class="form-group t-right">
                <button class="btn bg-gradient-info custom-margin" type="submit">Delete</button>
                @{ var referrer = this.Context.Request.Headers["Referer"]; }
                @if (referrer != default(StringValues))
                {
                    <a href="@referrer.ToString()" class="btn bg-gradient-info custom-margin">Back</a>
                }
            </div>
        </form>
    </div>
</div>