﻿@model EditBannerViewModel

@{
    ViewData["Title"] = "Details";
}

<h2 class="pad-up text-center">Banner's details</h2>
<hr class="c-line" />

@await Html.PartialAsync("_StatusMessage", (string)TempData["StatusMessage"])

<div class="text-center row">
    @await Html.PartialAsync("_BannerDetailsPartial", Model)

    <div class="form-group text-right">
        <a asp-area="Admin" asp-controller="Banner" asp-action="Edit" asp-route-id="@Model.BannerId" class="btn bg-gradient-info custom-margin">Edit</a>
        <a asp-area="Admin" asp-controller="Banner" asp-action="Delete" asp-route-id="@Model.BannerId" class="btn bg-gradient-info custom-margin">Delete</a>
        @{ var referrer = this.Context.Request.Headers["Referer"]; }
        @if (referrer != default(StringValues))
        {
            <a href="@referrer.ToString()" class="btn btn-info custom-margin">Back</a>
        }
    </div>
</div>
