﻿@model EditBannerViewModel

@{
    ViewData["Title"] = "Edit Banner";
}

<div class="pad-up">
    <h2 class="text-center">Edit Banner</h2>
    <hr class="c-line" />
</div>

<div>
    <form asp-area="Admin" asp-controller="Banner" asp-action="Edit" asp-route-id="@Model.BannerId" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="BannerId" />
        <input type="hidden" asp-for="ImageName" />
        <div class="text-center">
            @await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])
        </div>
            <table class="tbl-center">
                <tbody>
                    <tr>
                        <td scope="row" width="45%">
                            <div class="form-group text-center">
                                <div>
                                    <label class="picture-upload-label">
                                        <input type="file" asp-for="Image" accept="image/*" class="hidden behind" />
                                        <img src="~/img/banners/@(Model.ImageName ?? "card.png")" class="picture-img-preview img-thumbnail img-fluid">
                                    </label>
                                    <div>(Click on the photo to change it)</div>
                                </div>
                            </div>
                        </td>
                        <td width="10%"></td>
                        <td width="45%">
                            <div class="form-group">
                                <div class="form-group">
                                </div>
                                <div class="form-group">
                                    <label asp-for="URL" class="control-label"></label>
                                    <input asp-for="URL" class="form-control" />
                                    <span asp-validation-for="URL" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="StartValidity" class="control-label"></label>
                                    <input asp-for="StartValidity" class="form-control">
                                    <span asp-validation-for="StartValidity" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="EndValidity" class="control-label"></label>
                                    <input asp-for="EndValidity" class="form-control" />
                                    <span asp-validation-for="EndValidity" class="text-danger"></span>
                                </div>
                                <br />
                                <br />
                                <div class="form-group text-right">
                                    <input type="submit" value="Save Changes" class="btn bg-gradient-info custom-margin" />
                                    <a class="btn bg-gradient-info custom-margin" asp-action="Index">Back</a>
                                </div>
                            </div>
                            <br />
                        </td>
                    </tr>
                </tbody>
            </table>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/upload.js"></script>
}