﻿@model IEnumerable<EditBannerViewModel>

@{
    ViewData["Title"] = "Banners List";
}

<section class="pad-up">
    <div class="container border-c">
        <div class=" text-center">
            <img src="~/img/bg-img/PinClipart.com_blue-sky-clipart_1315797.png" />
            <h2 class="text-info">Banners list:</h2>
            <hr />
        </div>

        @await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])

        @if (Model.Count() == 0)
        {
            <h4 class="text-center text-info">Banners - not available!</h4>
        }
        else
        {
            <div>
                @foreach (var banner in Model)
                {
                    <div class="text-center row">
                        <partial name="_BannerDetailsPartial" model="banner" />
                        <div class="float-right">
                            <a asp-area="Admin" asp-controller="Banner" asp-action="Edit" asp-route-id="@banner.BannerId" class="btn bg-gradient-info custom-margin">Edit</a>
                            <a asp-area="Admin" asp-controller="Banner" asp-action="Delete" asp-route-id="@banner.BannerId" class="btn bg-gradient-info custom-margin">Delete</a>
                        </div>
                    </div>
                    <hr class="c-line" />
                }
            </div>
        }
        <br />
        <a asp-controller="Banner" asp-action="Add" class="btn bg-gradient-info custom-margin">Add Banner</a>
        <a asp-controller="Menu" asp-action="Index" class="btn bg-gradient-info custom-margin">Administrator's Pannel</a>
    </div>
</section>