﻿.hr-thirty {
    border-top: 3px solid;
    width: 360px;
    color: #414951;
}

.pad-up {
    padding-top: 140px !important;
}

#t-with-buttons {
    border-collapse: separate;
    border-spacing: 25px 15px;
    width: 100%;
}

/*.picture-upload-label {
    width: 100%;
    font-style: italic;
    color: #888;
    border-radius: 5px;
    text-align: center;
}

    .picture-upload-label > input {
        width: 100%;
        height: 100%;
        opacity: 0;
    }*/

.picture-img-preview {
    width: 100%;
    height: 100%;
    max-width: 600px;
}

.small-size {
    object-fit: cover;
    width: 150px;
    height: 200px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.c-line {
    border-top: 4px solid;
}

.btn {
    background-color: #1583e9;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

    .btn:hover {
        background-color: #63b6f5;
    }

span.price {
    float: right;
    color: grey;
}

.behind {
    position: fixed;
    z-index: -1;
}

.custom-margin {
    margin: 7px;
}

.vertical-align {
    vertical-align: central!important;
}

.tbl-center {
    margin: 0px auto;
}

.banner-hp {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.single-welcome-slide .background-curve {
    position: absolute;
    width: 70%;
    top: 0;
    height: 100%;
    right: 0;
    z-index: -1 !important;
}

.border-c {
    padding: 5%;
    margin: 1%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-table-body > tr > td,
.custom-table-head > tr > th {
    vertical-align: middle;
}

.custom-table-body > tr > td {
    text-align: center;
    background-color: rgb(197, 216, 251);
}

.custom-table-head > tr > th {
    color: black !important;
    background-color: rgb(112, 159, 245) !important;
}

.color-white {
    color: white!important;
}

.top-layer{
    z-index:50;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    height: 1px!important;
    width: 1px!important;
}

.medium-size {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 450px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.border-box {
    padding: 2%;
    margin-bottom: 1%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.purple {
    background: linear-gradient(to right, #da8cff, #9a55ff)!important;
}

.pad-log-in {
    padding
}