﻿@model LoginViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Areas/Admin/Views/Shared/_LogInLayout.cshtml";
}

<section class="uza-about-us-area pad-up">
    <div class="row">
        <div class="@*col-12*@ col-md-6 centered" style="margin-top:20%">
            <div class="text-center">
                <img src="~/img/fav.png" /><h1>PAYMAN</h1>
            </div>
            <div>
                <h2 class="text-center">Administrator's Log In Page</h2>
                <form asp-area="Admin" asp-controller="Home" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <hr />
                    <div class="text-center">
                        @await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Username"></label>
                        <input asp-for="@Model.Username" class="form-control" />
                        <span asp-validation-for="@Model.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Password"></label>
                        <input asp-for="@Model.Password" class="form-control" />
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group float-right">
                        <button type="submit" class="btn btn-primary custom-margin">Log in</button>
                        <a asp-area="User" asp-controller="Home" asp-action="Login" class="btn btn-primary custom-margin">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Background Pattern -->
    <div class="about-bg-pattern">
        <img src="~/img/core-img/curve-2.png" alt="">
    </div>
</section>
