﻿@model ClientDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="pad-up"></div>
<div class="container border-c">
    <div class="">
        @if (Model.Client.ClientName == null)
        {
            <h4 class="text-center text-info">Client - not available!</h4>
        }
        <h2 class="text-info text-center "><i class="icon_pencil-edit"></i>  Manage: <i>"@Model.Client.ClientName"</i></h2>
    </div>
    <div id="tab">
        <ul>
            <li>
                <a href="#tab1"><i class="icon_profile"></i>Manage client's users</a>
            </li>
            <li>
                <a href="#tab2"><i class="icon_creditcard"></i>Manage client's accounts</a>

            </li>
        </ul>
        <section id="tab1" class="section-padding-80">
            <h2 class="text-info "><i class="icon_profile"></i> Users:</h2>
            <br />
            <hr />
            <div class="row">
                <div class="col-md-4">
                    @await Html.PartialAsync("_AddUserPartial")
                </div>
                <div class="col-md-8">
                    @await Html.PartialAsync("_ClientPartial")
                </div>
            </div>
        </section>
        <section id="tab2" class="section-padding-80">
            <h2 class="text-info "><i class="icon_creditcard"></i> Accounts:</h2>
            <br />
            <hr />

            <div class="row">
                <div class="col-md-3">
                    @await Html.PartialAsync("_CreateAccountPartial")
                </div>
                <div class="col-md-8">
                    @await Html.PartialAsync("_AccountPartial")
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts{

    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
            $('#username').autocomplete({
                source: '@Url.Action("Search", "Client")'
            });
    </script>
    <script src="https://unpkg.com/sweetalert2@7.19.0/dist/sweetalert2.all.js"></script>
    <script>
        $(function () {
            $("#tab").tabs();
        });
    </script>


}
