﻿@model ClientViewModel
@{
    ViewData["Title"] = "Index";
}

    <section class="pad-up">
        <div class="container border-c">
            <h1 class="text-info text-center">Clients</h1>
            <hr />
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <img src="~/img/bg-img/clipart1540073.png" />
                    </div>
                    <br />
                    <div class="stretch-card grid-margin">
                        <div class="card card-img-holder text-white">
                            <div class="card-body">
                                <div><h3 class="text-info">Create client form</h3></div>
                                <form id="create-client-form" asp-controller="Client" asp-action="Create">
                                    <div class="form-group">
                                        <label asp-for="@Model.ClientName"></label>
                                        <input asp-for="@Model.ClientName" placeholder="Please enter company's name" class="form-control" />
                                        <span asp-validation-for="@Model.ClientName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <table id="table" class="table table-hover">
                            <thead class="bg-gradient-info">
                                <tr>
                                    <th>Name</th>
                                    <th class="text-right"> </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </section>
@section Scripts{
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
        var table = $('#table').DataTable({
            "rowReorder": {
                "selector": 'td:nth-child(2)'
            },
            "responsive": true,
            "proccessing": true,
            "serverSide": true,
            "ordering": false,

            "ajax": {
                "url": "@Url.Action("AllClients", "Client")",
                "type": 'POST',
                "dataType": "JSON",
            },
            "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]],
            "columns": [
                { "data": "ClientName" },
                {  
                    "render": function (data, type, client, meta)
                    { return '<a  href="@Url.Action("Details", "Client")/' + client.ClientId + '">Details</a>'; }  
                },  
            ],
         });
    </script>
}

