﻿@model AccountBalanceViewModel

@{ Layout = null; }

<!-- Modal -->
<div>
    <div class="modal fade" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addContactLabel">Register user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-controller="Manage" asp-action="Register" method="post">
                        <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                        @Model.NickName
                        <div class="form-group">
                            <label asp-for="@Model.NickName"></label>
                            <input asp-for="@Model.NickName" class="form-control" placeholder="Enter new nickname" />
                            <span asp-validation-for="@Model.NickName" class="text-danger"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn bg-gradient-success" data-save="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
