﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>PayMan: @ViewData["Title"]</title>

    <!-- Favicon -->
    <link rel="icon" href="~/img/fav.png">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="wrapper">
            <div class="cssload-loader"></div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <!-- Classy Menu -->

            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="single-welcome-slide uza-about-us-area">
        <div class="container">
            <!-- Background Curve -->
            <div class="background-curve">
                <img src="~/img/core-img/curve-1.png" alt="">
            </div>
            <!-- Background Pattern -->
            <div class="about-bg-pattern">
                <img src="~/img/core-img/curve-2.png" alt="">
            </div>
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <!-- ******* All JS Files ******* -->
    <!-- jQuery js -->
    <script src="/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- All js -->
    <script src="/js/uza.bundle.js"></script>
    <!-- Active js -->
    <script src="/js/default-assets/active.js"></script>

    @await Html.PartialAsync("_ValidationScriptsPartial");  

    @RenderSection("Scripts", required: false)
</body>
</html>
