﻿@model AccountViewModel

@{
    ViewData["Title"] = "Accounts Dashboard";
}


<section class="pad-up">
    <div class="conteiner border-c">
        <div class="col-lg-12">
            <h2 class="text-center text-info"><i class="icon_creditcard"></i> Accounts</h2>
            <table id="userTbl" class="table table-hover table-responsive text-center">
                <thead class="bg-gradient-info">
                    <tr>
                        <th>Account number</th>
                        <th>Nickname</th>
                        <th>Client name</th>
                        <th>Balance</th>
                        <th>Transactions list</th>
                        <th>Make payment</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var accounts in Model.UsersAccounts)
                    {
                        <tr>
                            <td>
                                <h6>@accounts.Account.AccountNumber</h6>
                            </td>
                            <td>
                                <div id="modal-placeholder"></div>
                                <!-- Button trigger modal -->
                                <span>
                                    <button type="button" class="btn-link" data-toggle="edit-name" data-url="@Url.Action("EditNickname")">
                                        <i class="icon_pencil"accId="@accounts.AccountId"></i>
                                    </button>  @accounts.Nickname
                                </span>
                            </td>
                            <td>
                                <h6>@accounts.Account.Client.Name</h6>
                            </td>
                            <td>
                                <h6>@accounts.Account.Balance</h6>
                            </td>
                            <td>
                                <a asp-controller="Transactions" asp-action="Index" asp-route-id="@accounts.AccountId" class="btn-outline-info"><i class="icon_document_alt"></i>Preview</a>
                            </td>
                            <td>
                                <a asp-controller="Transactions" asp-action="MakePayment" asp-route-id="@accounts.AccountId" class="btn-outline-primary"><i class="icon_wallet"></i>Pay</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
<section>
    <div class="conteiner border-c">
        <h2 class="text-center text-info"><i class="icon_piechart"></i>Accounts balances</h2>
        @await Html.PartialAsync("_PieChartPartial")
    </div>

</section>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://unpkg.com/sweetalert2@7.19.0/dist/sweetalert2.all.js"></script>


    <script src="~/js/custom/pieChart.js"></script>
}