﻿@model HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Areas/User/Views/Shared/_LogInLayout.cshtml";
}

<section class="uza-about-us-area pad-up">

    @await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])
    <div class="text-center">
        <img src="~/img/fav.png" /><h1>PAYMAN</h1>
    </div>
    <div class="row">

        <div class="col-12 col-md-6" style="margin-top:15%">
            <div>
                <partial name="_RandomBannerPartial" model="@Model">
            </div>
        </div>

        <div class="col-12 col-md-6" style="margin-top:20%">
            <div class="tbl-center">
                <h2>Log In</h2>
                <form asp-area="User" asp-controller="Home" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <hr />
                    <div class="text-center">
                        @await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.LogIn.Username"></label>
                        <input asp-for="@Model.LogIn.Username" class="form-control" />
                        <span asp-validation-for="@Model.LogIn.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.LogIn.Password"></label>
                        <input asp-for="@Model.LogIn.Password" class="form-control" />
                        <span asp-validation-for="@Model.LogIn.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group float-right">
                        <button type="submit" class="btn btn-primary custom-margin">Log in</button>
                        <a asp-area="Admin" asp-controller="Home" asp-action="Login" class="btn btn-primary custom-margin">Administrators</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Background Pattern -->
    <div class="about-bg-pattern">
        <img src="~/img/core-img/curve-2.png" alt="">
    </div>
    <br />
</section>


