﻿@model ClientDetailsViewModel

<div id="modal-acc-placeholder"></div>
<div id="modal-acc-add-user"></div>

<div class="table-responsive table-hover">
    <table id="client-accounts-table" class="table">
        <thead class="bg-gradient-info">
            <tr role="row">
                <th>
                    <h5>AccountNumber</h5>
                </th>
                <th>
                    <h5>Balance</h5>
                </th>
                <th>
                    <h5><i class="icon_pencil-edit"></i> Manage</h5>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model.Client.Accounts)
            {
                <tr>
                    <td>
                        <h6>@account.AccountNumber</h6>
                    </td>
                    <td>
                        <h6>BGN @account.Balance</h6>
                    </td>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn-sm bg-gradient-success" data-toggle="acc-details-modal" acc-id="@account.AccountId" data-url="@Url.Action("Details","Accounts")">
                            Details
                        </button>
                        <button type="button" class="btn-sm bg-gradient-info" data-toggle="add-user-modal" client-id="@Model.Client.ClientId" acc-id="@account.AccountId" data-url="@Url.Action("ClientUsersDetails","Accounts")">
                            Add user
                        </button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
