﻿@model AccountViewModel
<!-- Modal -->
<div>
    <div class="modal fade" id="add-contact" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addContactLabel">Account's users</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead class="bg-gradient-success">
                            <tr>
                                <th>Users</th>
                                <th>Manage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var users in Model.UsersAccounts)
                            {
                                <tr>

                                    <td>
                                        <h6>@users.User.UserName</h6>
                                    </td>
                                    <td>
                                        <button class="btn-outline-danger" data-toggle="remove-user" userId="@users.UserId" accountId="@users.AccountId">
                                            Remove user from account
                                        </button>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}