﻿@model ClientDetailsViewModel


<div class="stretch-card grid-margin">
    <div class="card card-img-holder text-white">
        <div class="card-body">
            <div><h3 class="text-info"><i class="icon_clipboard"></i> Add User to client</h3></div>
            <form id="add-user-form" asp-controller="Client" asp-action="AddUser" clientId="@Model.Client.ClientId">
                <div class="form-group">
                    <input asp-for="@Model.Client.ClientId" type="hidden">
                </div>
                <div class="form-group">
                    <input asp-for="@Model.Client.ClientName" type="hidden">
                </div>
                <div class="form-group">
                    <label asp-for="@Model.UserName"></label>
                    <input asp-for="@Model.UserName" type="text" id="username" class="form-control" placeholder="Enter username" />
                    <span asp-validation-for="@Model.UserName" id="message" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn bg-gradient-success">Add to client</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{

    @await Html.PartialAsync("_ValidationScriptsPartial")
}