﻿@model EditBannerViewModel

<div class="col-4">
    <img class="img-rounded small-size" src="~/img/banners/@(Model.ImageName)">
</div>
<div class="col">
    <h5 class="text-justify"><strong>URL: </strong><a href="@Model.URL" target="_blank">@Model.URL</a></h5>
    <h5 class="text-justify"><strong>Start Validity: </strong>@Model.StartValidity</h5>
    <h5 class="text-justify"><strong>End Validity: </strong>@Model.EndValidity</h5>
</div>
