﻿@model ClientDetailsViewModel

<table id="user-clients-table" class="table table-hover">
    <thead class="bg-gradient-success">
        <tr>
            <th>
                <h5><i class="icon_profile"></i> Username</h5>
            </th>
            <th>
                <h5>Name</h5>
            </th>
            <th>
                <h5><i class="icon_pencil-edit"></i> Manage</h5>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Client.UsersClients)
        {
            <tr>
                <td>
                    <h6>@user.User.UserName</h6>
                </td>
                <td>
                    <h6>@user.User.FullName</h6>
                </td>
                <td>
                    <a id="remove-user" userId="@user.UserId"  class="text-danger text-right" clientId="@Model.Client.ClientId"> <i class="icon_close"></i> Remove from client</a>
                </td>
            </tr>
        }
    </tbody>
</table>

