﻿@model AccountViewModel
<!-- Modal -->
<div>
    <div class="modal fade" id="add-contact" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addContactLabel">Client's users</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="acc-user-tbl" class="table">
                        <thead class="bg-gradient-success">
                            <tr>
                                <th>Users</th>
                                <th>Manage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var users in Model.ClientUsers)
                            {
                                <tr>

                                    <td>
                                        <h6>@users.User.UserName</h6>
                                    </td>
                                    <td>
                                        <button class="btn-outline-info" data-toggle="add-user" userId="@users.UserId" accountId="@Model.AccountId">
                                            Add user to account
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
