﻿@model ClientDetailsViewModel

@{ Layout = null; }


<div class="stretch-card grid-margin">
    <div class="card card-img-holder text-white">
        <div class="card-body">
            <div><h3 class="text-info"><i class="icon_clipboard"></i> Create account form</h3></div>
            <form id="add-account-form" asp-controller="Accounts" asp-action="Create" clientId="@Model.Client.ClientId">
                <div class="form-group">
                    <input asp-for="@Model.Client.ClientId" type="hidden">
                </div>
                <div class="form-group">
                    <input asp-for="@Model.Client.ClientName" type="hidden">
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Balance"></label>
                    <input asp-for="@Model.Balance" type="text" value="10000" id="username" class="form-control" placeholder="Enter amount (BGN)" />
                    <span asp-validation-for="@Model.Balance" id="message" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn bg-gradient-info">Create account</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
