﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>PayMan: @ViewData["Title"]</title>

    <!-- Favicon -->
    <link rel="icon" href="~/img/fav.png">

    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="~/css/custom2.css">



    <!--Autocomplete search-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="wrapper">
            <div class="cssload-loader"></div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="uzaNav">

                    <!-- Logo -->
                    <a asp-controller="Menu" asp-action="Index" class="nav-brand">
                        <span class="text-capitalize"><img src="~/img/fav.png" />PAYMAN</span>
                    </a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">

                        <span class="navbarToggler"></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->

                        <div class="classynav">
                            <ul id="nav">
                                <li><a asp-controller="Manage" asp-action="Index" class="uza-btn">Users</a></li>
                                <li><a asp-controller="Client" asp-action="Index" class="uza-btn">Clients</a></li>
                                <li><a asp-controller="Banner" asp-action="Index" class="uza-btn">Banners</a></li>
                            </ul>

                            <!-- Logout -->
                            <div class="login-register-btn mx-3">
                                <a asp-controller="Home" asp-action="Logout">Log out</a>
                            </div>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <!-- ***** Header Area End ***** -->
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- ******* All JS Files ******* -->
    <!-- jQuery js -->
    <script src="/js/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- All js -->
    <script src="/js/uza.bundle.js"></script>
    <!-- Active js -->
    <script src="/js/default-assets/active.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial");


    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="~/js/custom/site.js" asp-append-version="true" defer></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
