﻿
@{
    ViewData["Title"] = "Administrator's Pannel";
}

<section class="pad-up">
    <div class="container border-c">
        <h1 class="text-info text-center">Menu</h1>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-4">
                <div class="stretch-card grid-margin">
                    <div class="card bg-gradient-success card-img-holder text-white">
                        <div class="card-body">
                            <img src="~/img/circle.svg" class="card-img-absolute" alt="circle-image">
                            <a asp-controller="Manage" asp-action="Index" class="btn bg-gradient-success">
                                <i class="fa fa-user"></i> USERS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="stretch-card grid-margin">
                    <div class="card bg-gradient-info card-img-holder text-white">
                        <div class="card-body">
                            <img src="~/img/circle.svg" class="card-img-absolute" alt="circle-image">
                            <a asp-controller="Client" asp-action="Index" class="btn btn-primary">
                                <div class="bg-icon">
                                    <i class="icon_pencil-edit"></i>CLIENTS
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="stretch-card grid-margin">
                    <div class="card bg-gradient-primary card-img-holder text-white">
                        <div class="card-body">
                            <img src="~/img/circle.svg" class="card-img-absolute" alt="circle-image">
                            <a asp-controller="Banner" asp-action="Index" class="btn bg-gradient-primary">
                                <div class="bg-icon">
                                    <i class="icon_map"></i>
                                    BANNERS
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="text-center">
                <img src="~/img/bg-img/clipart875493.png" />
            </div>       
    </div>
</section>

