﻿@model RegisterViewModel


@{
    ViewData["Title"] = "Index";
}

<section class="pad-up">
    <div class="container border-c">
        <h1 class="text-info text-center"><i class="icon_contacts"></i> Users</h1>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/img/bg-img/clipart410453.png" />
                </div>
                <br />
                <div class="stretch-card grid-margin">
                    <div class="card bg-gradient-info card-img-holder text-white">
                        <div class="card-body">
                            <div id="modal-placeholder"></div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn bg-gradient-info" data-toggle="ajax-modal" data-target="#add-contact" data-url="@Url.Action("Register")">
                                <i class="icon_profile"></i> Register user
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <table id="users-table" class="table table-hover">
                        <thead class="bg-gradient-info">
                            <tr>
                                <th>Userame</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
        var table = $('#users-table').DataTable({
            "rowReorder": {
                "selector": 'td:nth-child(2)'
            },
            "responsive": true,
            "proccessing": true,
            "serverSide": true,
            "ordering": false,

            "ajax": {
                "url": "@Url.Action("AllUsers", "Manage")",
                "type": 'POST',
                "dataType": "JSON",
            },
            "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]],
            "columns": [
                { "data": "UserName" },
                { "data": "FullName" },
            ]
         });
    </script>
}